{# MODAL TO SOFT DELETE A MOVIE. #}

<div class="modal fade" id="delete_modal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<!-- MODAL HEAD -->
			<div class="modal-header">
				<button class="close" data-dismiss="modal" type="button">
					<span>&times;</span>
				</button>
				{{ movie.title }}
			</div>

			<!-- MODAL CONTENT -->
			<div class="modal-body">
				<p>Are you sure you would like to delete this?</p>
			</div>

			<!-- MODAL FOOTER -->
			<div class="modal-footer">
				<form action="{% url 'movie:delete' movie.id %}" method="DELETE">
					{% csrf_token %}

					<!-- CONFIRM DELETE -->
					<input 
						type="submit" 
						name="confirm_delete" 
						value="Yes"
						class="btn btn-danger">

					<!-- DISMISS MODAL -->
					<button 
						type="button"
						data-dismiss="modal"
						class="btn btn-default">
						No
					</button>
					
				</form>
			</div>

		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal fade -->