{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" 
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
	{# FOR AJAX CSRF's #}
	{% block metas %}{% endblock %}

	{% block title %}
	{# DEFAULT TITLE #}
	<title>Welcome to ZhowBox!</title>
	{% endblock %}

	<!-- BOOTSTRAP WITH THEME CDN -->
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
	<!-- custom links -->
	{% block links %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'movie/css/main-style.css' %}">
</head>
<body>
	{% include 'movie/parts/header.html' %}

	
	{% block main %}{% endblock %}


	{% include 'movie/parts/footer.html' %}


	{% block modals %}{% endblock %}

	<!-- JQUERY CDN -->
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	{% block scripts %}{% endblock %}
	<!-- BOOTSTRAP JS CDN -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>